.pricing-header {
	margin-bottom: 48px;
}

.pricing-tables-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;

    &:first-child {
        margin-top: -12px;
    }

    &:last-child {
        margin-bottom: -12px;
    }
}

.pricing-table {
	position: relative;
    padding: 12px;
    width: 368px;
    height: 600px;
    max-width: 368px;
    flex-grow: 1;
}

.pricing-table-header,
.pricing-table-features-title,
.pricing-table-features li {
	border-bottom: 1px solid rgba(color(typography, 2), .24);
}

.pricing-table-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: color(bg, 4);
    color: #fff;
    padding: 24px;
    height: 100%;
	border-radius: 10px;
    text-align: center;
    font-size: 26px;

    > * {
		position: relative; /* To display all elements above the box with shadow */
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include shadow;
    }
}

.pricing-table-inner.django {
    background-image: url('https://c0.wallpaperflare.com/preview/440/715/681/dark-green-green-elaf-dark-background.jpg');
    background-size: cover;
    background-position: 30%;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 74, 5, 0.759);
}

.pricing-table-inner.junior-interview {
    background-image: url('https://img.freepik.com/premium-photo/two-chairs-microphones-podcast-interview-talk-show-room-copy-space-background-generative-ai_890176-257.jpg');
    background-size: cover;
    background-position: 30%;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 255, 221, 0.759);
} 

.pricing-table-price {
	@if ( get-font-family(heading) != get-font-family(base) ) {
		@include font-family(heading);
	}
}

.pricing-table-price-currency {
	color: color(typography, 2);
}

.pricing-table-features-title {
	color: color(typography, 1);
	@include font-weight(bold);
}

.pricing-table-features {

    li {
        display: flex;
        text-align: left;
        padding: 14px 0;
        color: #eeeeee;
        font-size: 16px;
    }
}

.pricing-table-cta {
    align-self: flex-end;
}

@include media( '>medium' ) {

	.pricing {

		.section-paragraph {
	        padding-left: 90px;
	        padding-right: 90px;
	    }
	}

	.pricing-header {
		margin-bottom: 52px;
	}
}
