<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Alenorze</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://kit.fontawesome.com/6116fc2ee6.js" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"
		integrity="sha512-/6TZODGjYL7M8qb7P6SflJB/nTGE79ed1RfJk3dfm/Ib6JwCT4+tOfrrseEHhxkIhwG8jCl+io6eaiWLS/UX1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#1a1a1a">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#1a1a1a">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#1a1a1a">
<link rel="icon" href="favicon.ico"><script defer src="js/app.js"></script><link href="css/app.css" rel="stylesheet"></head>

<body class="ishome">
	<div id="wrap" class="wrapper">
		<ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25"
			data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.10">
				<div class="bg"><canvas id="stars"></canvas></div>
			</li>
			<li class="layer" data-depth="0.20">
				<div class="fog"></div>
			</li>
			<li class="layer" data-depth="0.50">
				<div class="moon d-10"></div>
			</li>
			<li class="layer" data-depth="0.50">
				<div class="grass grass-1 d-50"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-1 d-60"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-2 d-60"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="grass grass-2 d-60"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-3 d-30"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-4 d-100"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-5 d-100"></div>
			</li>
			<li class="layer" data-depth="0.60">
				<div class="tree tree-6 d-60"></div>
			</li>
			<li class="layer" data-depth="0.80">
				<div class="grass grass-1 d-80"></div>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-1">

			</div>
			<div class="col-sm-9 col-md-7 col-lg-7 col-xl-5">
				<h1 class="name">Alexey Belov</h1>
				<p class="info">Python Architect with 8 years of engineering, including leadership expirience. Currently
					concentrated WEB 3.0 paradigm and web development.</p>
				<div class="links">
					<div class="linkedin">
						<a href="https://www.linkedin.com/in/alenorze/" target="_blank"><i class="fa fa-linkedin fa-3x"
								aria-hidden="true"></i></a>
					</div>

					<div class="github">
						<a href="https://github.com/Alenorze/" target="_blank"><i class="fa fa-github fa-3x"
								aria-hidden="true"></i></a>
					</div>

					<div class="telegram">
						<a href="https://t.me/belov_dev_group/" target="_blank">
							<i class="fa fa-telegram fa-3x" aria-hidden="true"></i>
						</a>
					</div>

					<div class="youtube">
						<a href="https://www.youtube.com/@BELOV_Q/" target="_blank"><i class="fa fa-youtube fa-3x"
								aria-hidden="true"></i></a>
					</div>

					<div class='facebook'>
						<a href="https://facebook.com/Alenorze/" target="_blank"><i class="fa fa-facebook fa-3x"
								aria-hidden="true"></i>
						</a>
					</div>

					<div class="twitter">
						<a href="https://twitter.com/alenorze/" target="_blank"><i class="fa fa-twitter fa-3x"
								aria-hidden="true"></i></a>
					</div>

					<div class="instagram">
						<a href="https://www.instagram.com/alenorze/" target="_blank">
							<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
						</a>
					</div>

					<div class="tiktok">
						<a href="https://www.tiktok.com/@alenorze/" target="_blank">
							<i class="fa fa-brands fa-tiktok fa-3x" aria-hidden="true"></i>
						</a>
					</div>

					<div class="udemy">
						<a href="https://www.udemy.com/user/alexey-belov-9/" target="_blank">
							<i class="fa fa-solid fa-u fa-3x" aria-hidden="true"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>