<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Alenorze</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/site.webmanifest">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#1a1a1a">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#1a1a1a">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#1a1a1a">
</head>

<body class="ishome">

			<div id="wrap" class="wrapper">


				<ul id="scene" class="scene unselectable"
					data-friction-x="0.1"
					data-friction-y="0.1"
					data-scalar-x="25"
					data-scalar-y="15">
					<li class="layer" data-depth="0.00"></li>
					<li class="layer" data-depth="0.10"><div class="bg"><canvas id="stars"></canvas></div></li>
					<li class="layer" data-depth="0.20"><div class="cloud"></div></li>
					<li class="layer" data-depth="0.50"><div class="moon d-10"></div></li>
					<li class="layer" data-depth="0.50"><div class="grass grass-1 d-50"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-1 d-60"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-2 d-60"></div></li>
					<li class="layer" data-depth="0.60"><div class="grass grass-2 d-60"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-3 d-30"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-4 d-100"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-5 d-100"></div></li>
					<li class="layer" data-depth="0.60"><div class="tree tree-6 d-60"></div></li>
					<li class="layer" data-depth="0.80"><div class="grass grass-1 d-80"></div></li>
				</ul>

			</div>

			<!-- <div class="sound">
  			<div class="sound-icon fa fa-volume-off"></div>
  			<div class="sound-wave sound-wave_one"></div>
  			<div class="sound-wave sound-wave_two"></div>
			</div> -->

			<div class="container">
				<div class="row">
					<div class="col-md-offset-1">

					</div>
					<div class="col-md-4">
						<h1 class="name">Alenorze</h1>
						<p class="info">I am developing using the architectural style of REST,
							 my stack is Angular and Django, and other things Redux, AWS,
							  Chart.JS, DRF, Stripe, Oauth, etc. </p>
					</div>
					<div class="col-md-6">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<h1>Social</h1>
								<ul class="social-networks square spin-icon">
								  <li><a href="https://github.com/alenorze" class="icon-github">GitHub</a></li>
								  <li><a href="https://instagram.com/alenorze" class="icon-instagram">Instagram</a></li>
								</ul>
							</div>
							<div class="item">
								<h1>Skills</h1>
									Coming Soon!
							</div>
						</div>
					</div>
				</div>
			</div>



	<link rel="stylesheet" href="/static/css/main.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
	<script src="/static/js/scripts.min.js"></script>
</body>
</html>
